<div id="navigation">
  <div class="row">
    <ul>
      <li id="logo"><a href="#home"><img src="{{ assets }}/img/icons/sandbox.png" alt="sandbox logo"/></a></li>
      <li><a href="#in-general">In general</a></li>
      <li><a href="#school">School</a></li>
      <li><a href="#package">Package</a></li>
      <li><a href="#team">Team</a></li>
      <li><a href="#video">Video</a></li>
      <li><a href="#faq">Faq</a></li>
      <li><a href="#price">Price</a></li>
      <li><a href="#snowkite">Snowkite</a></li>
      <li><a href="weather">Weather</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</div>

<ul id="nav-social">
  <li><a target="_blank" href="https://www.facebook.com/Sandbox.kitesurfing.montenegro"><img src="{{ assets }}/img/icons/facebook.png" alt="facebook logo"/></a></li>
  <li><a target="_blank" href="https://www.instagram.com/sandboxkiteclub/"><img src="{{ assets }}/img/icons/instagram.png" alt="instagram logo"/></a></li>
</ul>



