<div id="navigation">
  <div class="row">
    <ul>
      <!-- you can exclude pages using \{{#isnt}} helper: \{{#isnt data.title 'Blog'}} -->
      {{#withSort pages "data.position" }}
        <li{{#if this.isCurrentPage}} class="active"{{/if}}>
          <a href="#{{this.basename}}">{{ data.title }}</a>
        </li>
      {{/withSort}}
  </div>
</div>



