// Weather widget
#weather {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: $secondary-color;
  font-weight: 100;
  font-size: emCalc(12px);

  @media screen and (max-width : 768px) {
    display: none;
  }
}

.weather-info {
  position: absolute;
  top: 55px;
  left: 25px;
  color: #ffffff;
  z-index: 100;
  opacity: 0.6;
}
