#navigation {

  #logo {
    padding: 3px 0;

    a {
      padding: 5px 25px;
    }

    img {
      width: 36px;
      height: 34px;
    }
  }

  z-index: 100;
  position: fixed;
  background: $body-bg;
  width: 100%;
  border-bottom: 1px solid white;
  box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.5);

  * {
    color: $secondary-color;
  }

  ul {
    margin-left: 0;
    margin-bottom: 0;
    list-style-type: none;

    li {
      float: left;
      padding-top: 15px;

      a {
        padding: 5px 15px;
      }

      &:before {
        content: "/";
      }

      &:first-child:before {
        content: "";
      }
    }
  }

  @media screen and (max-width : 768px) {
    position: relative;
    box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.5);

    ul {
      padding-top: 0;
      padding-bottom: 0;
      list-style-type: none;
      width: 100%;

      li {
        clear: both;
        padding-top: 0;
        border-top: 1px solid white;
        width: 100%;

        a {
          display: block;
          width: 100%;
          padding: 0.7rem 0.7rem;
          -webkit-transition:padding-left 0.5s;
          transition:padding-left 0.5s;
        }

        &:before {
          content: "";
        }

        &:first-child:before {
          content: "";
        }

        a:hover {
          padding-left: 3rem;
        }
      }
    }
  }
}

#nav-social {
  z-index: 100;
  position: fixed;
  background-color: $body-bg;
  top: 40%;
  right: 0px;
  list-style-type: none;
  box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.5);

  img {
    padding: 5px;
  }

  @media screen and (max-width : 768px) {
    top: 5px;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;

    li {
      float: right;
    }

    img {
      padding: 0;
    }
  }
}

img {
  width: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#home {
  height: 100%;

  img {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 140px;
  }
}

#home>div:first-child {
  min-height: 100%;
  background-image: url("/assets/img/bg/home.jpg");
  background-size: cover;
}

#in-general {
//  background-color: #617fb5;
  background: rgba(97,127,181,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(97,127,181,1) 0%, rgba(25,33,46,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(97,127,181,1)), color-stop(100%, rgba(25,33,46,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(97,127,181,1) 0%, rgba(25,33,46,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(97,127,181,1) 0%, rgba(25,33,46,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(97,127,181,1) 0%, rgba(25,33,46,1) 100%);
  background: radial-gradient(ellipse at center, rgba(97,127,181,1) 0%, rgba(25,33,46,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#617fb5', endColorstr='#19212e', GradientType=1 );

}

#school {
//  background-color: #1093C1;
  background: rgba(16,147,193,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(16,147,193,1) 0%, rgba(5,43,56,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(16,147,193,1)), color-stop(100%, rgba(5,43,56,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(16,147,193,1) 0%, rgba(5,43,56,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(16,147,193,1) 0%, rgba(5,43,56,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(16,147,193,1) 0%, rgba(5,43,56,1) 100%);
  background: radial-gradient(ellipse at center, rgba(16,147,193,1) 0%, rgba(5,43,56,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1093c1', endColorstr='#052b38', GradientType=1 );
}

#package {
//  background-color: #003D52;
  background: rgba(0,61,82,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,61,82,1) 0%, rgba(0,21,28,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,61,82,1)), color-stop(100%, rgba(0,21,28,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,61,82,1) 0%, rgba(0,21,28,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0,61,82,1) 0%, rgba(0,21,28,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,61,82,1) 0%, rgba(0,21,28,1) 100%);
  background: radial-gradient(ellipse at center, rgba(0,61,82,1) 0%, rgba(0,21,28,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003d52', endColorstr='#00151c', GradientType=1 );
}

#team {
//  background-color: #1D1D1C;
  background: rgba(87,87,82,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(87,87,82,1) 0%, rgba(10,10,10,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(87,87,82,1)), color-stop(100%, rgba(10,10,10,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(87,87,82,1) 0%, rgba(10,10,10,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(87,87,82,1) 0%, rgba(10,10,10,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(87,87,82,1) 0%, rgba(10,10,10,1) 100%);
  background: radial-gradient(ellipse at center, rgba(87,87,82,1) 0%, rgba(10,10,10,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575752', endColorstr='#0a0a0a', GradientType=1 );

}

#video {
//  background-color: #97988F;
  background: rgba(151,152,143,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(151,152,143,1) 0%, rgba(66,66,63,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(151,152,143,1)), color-stop(100%, rgba(66,66,63,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(151,152,143,1) 0%, rgba(66,66,63,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(151,152,143,1) 0%, rgba(66,66,63,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(151,152,143,1) 0%, rgba(66,66,63,1) 100%);
  background: radial-gradient(ellipse at center, rgba(151,152,143,1) 0%, rgba(66,66,63,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97988f', endColorstr='#42423f', GradientType=1 );

}

#faq {
//  background-color: #445563;
  background: rgba(68,85,99,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(68,85,99,1) 0%, rgba(30,37,43,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(68,85,99,1)), color-stop(100%, rgba(30,37,43,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(68,85,99,1) 0%, rgba(30,37,43,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(68,85,99,1) 0%, rgba(30,37,43,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(68,85,99,1) 0%, rgba(30,37,43,1) 100%);
  background: radial-gradient(ellipse at center, rgba(68,85,99,1) 0%, rgba(30,37,43,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#445563', endColorstr='#1e252b', GradientType=1 );

}

#price {
//  background-color: #98906D;
  background: rgba(152,144,109,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(152,144,109,1) 0%, rgba(84,79,61,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(152,144,109,1)), color-stop(100%, rgba(84,79,61,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(152,144,109,1) 0%, rgba(84,79,61,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(152,144,109,1) 0%, rgba(84,79,61,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(152,144,109,1) 0%, rgba(84,79,61,1) 100%);
  background: radial-gradient(ellipse at center, rgba(152,144,109,1) 0%, rgba(84,79,61,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98906d', endColorstr='#544f3d', GradientType=1 );

}

#contact {
//  background-color: #0c2125;;
  background: rgba(25,60,66,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(25,60,66,1) 0%, rgba(13,32,36,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(25,60,66,1)), color-stop(100%, rgba(13,32,36,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(25,60,66,1) 0%, rgba(13,32,36,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(25,60,66,1) 0%, rgba(13,32,36,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(25,60,66,1) 0%, rgba(13,32,36,1) 100%);
  background: radial-gradient(ellipse at center, rgba(25,60,66,1) 0%, rgba(13,32,36,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#193c42', endColorstr='#0d2024', GradientType=1 );
}

.page,
#home {
  border-top: 1px solid white;
  border-bottom: 1px solid #0D2024;
  position: relative;
}

.intro {
  box-shadow: 0px 30px 30px -15px rgba(0,0,0,0.75);
  z-index: 10;
}

.sub-page {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 5rem;

  h1, h2, h3, h4, h5, h6,
  p, a, ul, ol {
    color: $secondary-color;
  }

  table {
    color: $primary-color;
    min-width: 100%;
  }
}

.intro blockquote {
  color: $secondary-color;
  position: absolute;
  top: 7rem;
  left: 10%;
  width: 60%;

  font-size: emCalc(20px);
  line-height: 1;

  span {
    font-size: emCalc(30px);
  }

  @media screen and (max-width : 768px) {
    top: 4rem;
    font-size: emCalc(16px);
    line-height: 1;

    span {
      font-size: emCalc(24px);
      font-weight: 300;
    }
  }

  @media screen and (max-width : 480px) {
    top: 3rem;
    font-size: emCalc(12px);
    line-height: 1;

    span {
      font-size: emCalc(18px);
      font-weight: 300;
    }
  }
}

.media-big {
  border: 10px solid #ffffff;
}

.media-small {
  border: 5px solid #ffffff;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.top-btn {
  position: absolute;
  right: 15px;
  top: 0px;
  font-size: 9px;
}

.intro-center {
  color: #ffffff;
  position: absolute;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-weight: 100;

  div {
    position: relative;
    margin: auto;
    top: 28%;
    text-align: center;
    font-size: 1.8rem;

    &:last-child {
      font-size: 1.2rem;
      margin-top: 1.4rem;
    }

    span {
      color: #ff0000;
    }
  }
}

.gallery {
  margin-top: 2rem;
}

@media screen and (max-width : 480px) {
  .sub-page table tr th,
  .sub-page table tr td {
    font-size: 0.75rem;
  }
}



