h1, h2, h3, h4, h5, h6 {
  color: $secondary-color;
}

h1 {
  font-size: 3.0rem;
}

h1,
h2 {
  text-transform: uppercase;
}

.subtitle {
  margin-top: -0.8em;
}

#navigation {

  a {
    text-transform: uppercase;
  }
}

blockquote {
  font-weight: 100;
}
